<!-- SEGUNDA SECCIÓN: Imagen izquierda / Texto derecha /////-->
<div class="container ">
    <div class="row align-items-center m-5 mb-5 pb-4">
        <!-- Columna 2: Texto -->
        <div class="col-md-7 justify-content-end">
            <h1 class="h4 fw-normal ">
                <span class="text-dark">The Second Heading</span>
                <span class="text-secondary"> Is Pretty Cool Too.</span>
            </h1>
            <p class="text-muted small">
                Donec ullamcorper nulla non metus auctor fringilla.
                Vestibulum id ligula porta felis euismod semper fringilla.Donec ullamcorper nulla non metus auctor fringillafelis euismod semper.Donec ullamcorper nulla non metus auctor fringillafelis euismod semper.
                Donec ullamcorper nulla non metus auctor fringillafelis euismod semper.
            </p>
        </div>
        <!-- Columna 1: Imagen (ahora va PRIMERO en el HTML /////) -->
        <div class="col-md-5 d-flex justify-content-center mb-4 mb-md-0">
            <div id="imagen1" class="rounded-circle overflow-hidden shadow-sm">
                <img src="https://i.pinimg.com/originals/da/f9/f6/daf9f6323e10814a6bca94308a74a6cb.jpg"
                    class="w-100 h-100 object-fit-cover" alt="IMG2">
            </div>
        </div>
    </div>
</div>