<div
    style="position: relative; width: 100%; height: 500px; background-image: url('https://img.freepik.com/fotos-premium/familia-feliz-comiendo-hamburguesas-restaurante_661495-76151.jpg'); background-size: cover; background-position: center; display: flex; justify-content: center; align-items: center;">
    <div style="text-align: center; background-color: rgba(255, 255, 255, 0.8); padding: 20px 40px;  width: 2500%;">
        <h1 style="font-size: 3rem; margin: 0 0 10px; font-weight: bold;">One Page Wonder</h1>
    <p style="font-size: 1.5rem; margin: 0;">Will Knock Your Socks Off</p>
    </div>
</div>



