<section class="position-relative vh-100 d-flex align-items-center justify-content-center overflow-hidden">

    <img src="https://img.freepik.com/fotos-premium/familia-feliz-comiendo-hamburguesas-restaurante_661495-76151.jpg"
        alt="Fondo" class="position-absolute top-0 start-0 w-100 h-100 object-fit-cover" />


    <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark bg-opacity-25"></div>


    <div class="position-relative text-center">
        <div class="bg-white bg-opacity-75 rounded-3 shadow px-4 py-4 px-md-5 py-md-5">
            <h1 class="display-3 fw-bold mb-2 text-dark">One Page Wonder</h1>
            <p class="fs-4 m-0 text-dark">Will Knock Your Socks Off</p>
        </div>
    </div>
</section>